body {
  margin: 0;
  background: #020202;
  cursor: crosshair;
}
canvas{display:block}
#greeting {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: pink;
  font-family: "Georgia", serif;
  font-size: 4em;
  font-weight: 900;
  text-align: center;
  text-shadow: 0 0 15px #000;
  opacity: 0; 
  transition: opacity 0.55s ease, transform 0.55s ease;
  pointer-events: auto; 
}

@media (max-width: 767px) {
  #greeting {
    font-size: 2.1em;
    top: 18%;
    color: pink;
    padding: 0 16px;
  }
}


h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: pink;
  font-family: "Georgia", serif;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 15px #000;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translate(-50%,-55%) scale(0.9); }
  to   { opacity: 1; transform: translate(-50%,-50%) scale(1); }
}

@keyframes fadeOut {
  from { opacity: 1; transform: translate(-50%,-50%) scale(1); }
  to   { opacity: 0; transform: translate(-50%,-45%) scale(0.9); }
}

.gif-container {
  position: fixed;
  bottom: 20px;     
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;  
  margin-bottom: 20%;   
}

.gif-container img {
  max-width: 300px;  
  height: auto;
  pointer-events: none; 
}

@media (max-width: 767px) {
    .gif-container {
  position: fixed;
  bottom: 20px;   
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;  
  margin-bottom: 30%;  
}
}

.launcher {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 15;
}

.launcher img {
  width: 150px;   
  height: auto;
  pointer-events: none; 
}
